body {
  background: #000;
  background: url(bourtange-2467354_1920.jpg) no-repeat;
  background-size: cover;
  color: #444;
  font-size: 133%;
  line-height: 1.5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.header__logo {
  width: 40vh;
  height: 40vh;
  filter: url(#dropshadow);
}

.header {
  display: flex;
  background: #000;
  background: #321;
  background-size: cover;
  justify-content: space-around;
  ;
  align-items: center;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 33vh
}

.header a {
  color: #fff;
}


.header__text h1 {
  color: #fff;
  text-shadow: 4px 4px 8px #000;
}

.header__text h2 {
  color: #fff;
  text-shadow: 4px 4px 8px #000;
}



.languages__list {
  list-style: none;
}

.nav {
  position: absolute;
  left: 0; top: 33vh;
  width: 100%;
  background-color: #fff;
  transform: translate3d(0,0,50px);
  z-index: 10;
}


.nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.8em;
  
}

.nav__list-item {
  display: inline-block;
  
  
}

.svg-defs {
  display: none;
}

.main {
  background: rgba(255,255,255, 0.9);
  overflow: auto;
  padding: 50vh 1em 1em 1em;
  columns: 2;
}